<template>
	<div>
		<Test3 :result="result"/> 
	</div>
</template>

<script>
import io from 'socket.io-client'
import Test3 from './test3.vue'
const socket = io('http://192.168.254.102:8890/')
export default {
	data () {
		return {
			result: ''
		}
	},
	created () {
		socket.on('check-back', function (data) {
			console.log('data', data)
			this.result = data
		})
	},
	watch: {
	},
	components: {
		Test3
	}
}
</script>

<style>
</style>
