<template>
	<div>
		<p>Hello World</p>
		<p>Result : {{ text }}</p>
		<q-input v-model="text" />
		<q-btn @click="test()" round color="secondary" icon="card_giftcard" />
	</div>
</template>

<script>
import io from 'socket.io-client'
const socket = io('http://192.168.254.102:8890/')
export default {
	methods: {
		test () {
			let self = this
			socket.emit('check', self.text)
		}
	},
	data () {
		return {
			text: ''
		}
	}
}
</script>

<style>
</style>
